#banner {
  height: 80px;
  position: relative;
  margin: 10px 20px;
  transition: 0.4s;
}
#banner > a {
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  color: red;
  position: absolute;
  bottom: 0;
  text-decoration: none;
  transition: 0.4s;
}
#banner #hamburger {
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 8px;
  float: right;
  margin: 5px;
  transform: translate(80px, 0);
  visibility: hidden;
  cursor: pointer;
  transition: 0.4s;
}
#banner #hamburger i {
  width: 100%;
  height: 100%;
  font-size: 24px;
  padding: 8px;
}
@media only screen and (max-width: 768px) {
  #banner {
    height: 50px;
  }
  #banner > a {
    font-size: 35px;
  }
  #banner #hamburger {
    transform: none;
    visibility: visible;
  }
}
#nav-bar {
  background-color: black;
  height: 40px;
  width: 100%;
  justify-content: space-around;
  display: flex;
  transition: 0.4s;
}
#nav-bar a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
  height: 100%;
  line-height: 2.5;
  cursor: pointer;
}
#nav-bar a:hover {
  background-color: white;
  color: black;
}
@media only screen and (max-width: 768px) {
  #nav-bar {
    height: 0;
    overflow: hidden;
  }
}
#nav-menu {
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  display: none;
}
@media only screen and (max-width: 768px) {
  #nav-menu {
    display: block;
  }
}
#nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
}
#nav-menu ul li a {
  color: white;
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-decoration: none;
}
#nav-menu ul li a:hover {
  background-color: white;
  color: black;
}
#hamburger.menu-open {
  background-color: black;
  color: white;
}
#nav-menu.menu-open {
  height: 306px;
}
