@import "../../../fonts";

#banner {
  height: 80px;
  position: relative;
  margin-bottom: 10px;
  > a {
    font-family: @title;
    font-size: 50px;
    cursor: pointer;
    color: @red;
    position: absolute;
    bottom: 0;
    text-decoration: none;
  }
}

#nav-bar {
  background-color: black;
  height: 40px;
  width: 100%;
  font-family: @paragraph;
  justify-content: space-around;
  display: flex;
  a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    height: 100%;
    line-height: 2.5;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
