ngb-carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
  outline: none;
  transition: 0.4s;
}
ngb-carousel h3 {
  font-size: 1.5rem;
}
ngb-carousel p {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
ngb-carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.4s;
}
ngb-carousel div {
  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 768px) {
  ngb-carousel {
    height: 300px;
  }
  ngb-carousel p {
    font-size: 0.8rem;
  }
  ngb-carousel h3 {
    font-size: 1.2rem;
  }
  ngb-carousel img {
    height: 300px;
  }
}
h1 {
  margin: 20px;
  transition: 0.4s;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}
.card-small-box {
  margin-bottom: 15px;
}
.container {
  transition: 0.4s;
}
