.category-filter {
  height: 84px;
  margin-bottom: 20px;
}
h1 {
  margin: 20px;
  display: inline-block;
  transition: 0.4s;
}
@media only screen and (max-width: 768px) {
  h1 {
    padding-top: 8px;
    font-size: 28px;
  }
}
.container {
  transition: 0.4s;
}
.d-inline-block {
  float: right;
  margin: 25px 25px 0 0;
}
.d-inline-block .btn-outline-primary {
  color: black;
  background-color: transparent;
  border-color: black;
  box-shadow: none;
  cursor: pointer;
}
.d-inline-block .btn-outline-primary:hover {
  color: white;
  background-color: black;
}
.d-inline-block .dropdown-item:active,
.d-inline-block .dropdown-item:focus {
  color: white;
  background-color: black;
  outline: none;
}
.d-inline-block .dropdown-item:hover {
  cursor: pointer;
}
.card-small-box {
  margin-bottom: 15px;
}
